aiohttp==3.7.4.post0
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
choicelib==0.1.4
cryptography==3.4.6
Django==3.1.7
django-environ==0.4.5
gunicorn==20.0.4
idna==2.10
multidict==5.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.1
pyOpenSSL==20.0.1
pyTelegramBotAPI==3.7.6
pytz==2021.1
requests==2.25.1
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
urllib3==1.26.3
vbml==1.1
vkbottle @ git+git://github.com/timoniq/vkbottle.git@24c5516f2e3f500d25fc44568afbbee262d7761f
vkbottle-types==0.1.24
watchgod==0.7
yarl==1.6.3
